.header {
  background-color: #2f2f2f;
  color: #fff;
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  cursor: default;
}

/* Вложенный flex для центрирования текста */
.header-inner {
  width: 100%;
 
}

.name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
}

.button {
  background: #E69B8A;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  float: right;
  font-weight: bold;
  cursor: pointer;
  margin-right: 40px;
  transition: background 0.2s, transform 0.2s;
}
.button:hover {
  transform: scale(1.02);
  background: #E69B8A;
}
