.result-box {
    display: flex;
    align-items: center;
    min-width: 320px;
    margin-bottom: 8px;
}

.market-name {
    width: 90px;
    text-align: left;
    font-weight: bold;
    display: inline-block;
}

.price-value {
    width: 90px;
    text-align: left;
    display: inline-block;
    margin-left: 20px;
}

.logo {
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    object-fit: contain;
}

.logo:hover {
    transform: scale(1.1);
    background: #444;
}
